<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home</title>
</head>
<body>
<h1>
	Hello world with Thymeleaf!
</h1>

<P>  The time on the server is <span th:text="${serverTime}">sample server time</span>. </P>
</body>
</html>
